{% capture js_variables %}

window.PXUTheme = window.PXUTheme || {};

{% comment %} /* # Theme settings
================================================== */ {% endcomment %}
window.PXUTheme.theme_settings = {};
window.PXUTheme.theme_settings.primary_locale = "{{ request.locale.primary }}";
window.PXUTheme.theme_settings.current_locale = "{{ request.locale.iso_code }}";
window.PXUTheme.theme_settings.shop_url = "{{ routes.root_url }}";

{% comment %} Newsletter {% endcomment %}
window.PXUTheme.theme_settings.newsletter_popup = {{ settings.newsletter_popup | json }};
window.PXUTheme.theme_settings.newsletter_popup_days = {{ settings.newsletter_popup_days | json }};
window.PXUTheme.theme_settings.newsletter_popup_mobile = {{ settings.newsletter_popup_mobile | json }};
window.PXUTheme.theme_settings.newsletter_popup_seconds = {{ settings.newsletter_popup_seconds | json }};

{% comment %} Search {% endcomment %}
window.PXUTheme.theme_settings.search_option = {{ settings.search_option | json }};
window.PXUTheme.theme_settings.search_items_to_display = {{ settings.search_to_display | json }};
window.PXUTheme.theme_settings.enable_autocomplete = {{ settings.enable_autocomplete | json }};

{% comment %} Product {% endcomment %}
window.PXUTheme.theme_settings.free_text = {{ settings.free_price_text | json }};

{% comment %} Product Form {% endcomment %}
window.PXUTheme.theme_settings.product_form_style = {{ settings.product_form_style  | json }};
window.PXUTheme.theme_settings.display_inventory_left = {{ settings.display_inventory_left  | json }};
window.PXUTheme.theme_settings.limit_quantity = {{ settings.limit_quantity  | json }};
window.PXUTheme.theme_settings.inventory_threshold = {{ settings.inventory_threshold  | json }};
window.PXUTheme.theme_settings.free_price_text = {{ settings.free_price_text  | json }};

{% comment %} Collection {% endcomment %}
window.PXUTheme.theme_settings.collection_swatches = {{ settings.collection_swatches | json }};
window.PXUTheme.theme_settings.collection_secondary_image = {{ settings.collection_secondary_image | json }};

{% comment %} Cart {% endcomment %}
window.PXUTheme.theme_settings.cart_action = {{ settings.cart_action | json }};
window.PXUTheme.theme_settings.collection_secondary_image = {{ settings.collection_secondary_image | json }};
window.PXUTheme.theme_settings.display_tos_checkbox = {{ settings.display_tos_checkbox  | json }};
window.PXUTheme.theme_settings.tos_richtext = {{ settings.tos_richtext  | json }};

{% comment %} /* # Translation
================================================== */ {% endcomment %}
window.PXUTheme.translation = {};

{% comment %} Newsletter {% endcomment %}
window.PXUTheme.translation.newsletter_success_text = "{{ 'general.newsletter_form.success_text' | t | strip_newlines | escape }}";

{% comment %} Layout {% endcomment %}
window.PXUTheme.translation.menu = "{{ 'layout.general.menu' | t | strip_newlines | escape }}";

{% comment %} Cart {% endcomment %}
window.PXUTheme.translation.agree_to_terms_warning = "{{ 'cart.general.agree_to_terms_warning' | t | strip_newlines | escape }}";
window.PXUTheme.translation.cart_discount = "{{ 'cart.general.discount' | t | strip_newlines | escape }}";
window.PXUTheme.translation.edit_cart = "{{ 'layout.general.edit_cart' | t | strip_newlines | escape }}";
window.PXUTheme.translation.add_to_cart_success = "{{ 'layout.general.add_to_cart_success' | t | strip_newlines | escape }}";
window.PXUTheme.translation.agree_to_terms_html = "{{ 'cart.general.agree_to_terms_html' | t | strip_newlines | escape }}";
window.PXUTheme.translation.checkout = "{{ 'layout.general.checkout' | t | strip_newlines | escape }}";
window.PXUTheme.translation.or = "{{ 'layout.general.or' | t | strip_newlines | escape }}";
window.PXUTheme.translation.continue_shopping = "{{ 'layout.general.continue_shopping' | t | strip_newlines | escape }}";

{% comment %} Product {% endcomment %}
window.PXUTheme.translation.product_add_to_cart_success = "{{ 'products.product.add_to_cart_success' | t | strip_newlines | escape }}";
window.PXUTheme.translation.product_add_to_cart = "{{ 'products.product.add_to_cart' | t | strip_newlines | escape }}";
window.PXUTheme.translation.product_notify_form_email = "{{ 'products.notify_form.email' | t | strip_newlines | escape }}";
window.PXUTheme.translation.product_notify_form_send = "{{ 'products.notify_form.send' | t | strip_newlines | escape }}";
window.PXUTheme.translation.items_left_count_one = "{{ 'products.product.items_left_count.one' | t | strip_newlines | escape }}";
window.PXUTheme.translation.items_left_count_other = "{{ 'products.product.items_left_count.other' | t | strip_newlines | escape }}";
window.PXUTheme.translation.product_sold_out = "{{ 'products.product.sold_out' | t | strip_newlines | escape }}";
window.PXUTheme.translation.product_unavailable = "{{ 'products.product.unavailable' | t | strip_newlines | escape }}";
window.PXUTheme.translation.product_notify_form_success = "{{ 'products.notify_form.post_success' | t | strip_newlines | escape }}";
window.PXUTheme.translation.product_from = "{{ 'products.general.from' | t | strip_newlines | escape }}";

{% comment %} Search {% endcomment %}
window.PXUTheme.translation.search = "{{ 'general.search.title' | t | strip_newlines | escape }}";
window.PXUTheme.translation.all_results = "{{ 'general.search.all_results_html'| t }}";
window.PXUTheme.translation.no_results = "{{ 'general.search.no_results' | t | escape }}";

{% comment %} /* # Currency
================================================== */ {% endcomment %}
window.PXUTheme.currency = {};

{% comment %} Currency {% endcomment %}
window.PXUTheme.currency.shop_currency = {{ shop.currency | strip_html | json }};
window.PXUTheme.currency.default_currency = {{ settings.default_currency | default: shop.currency | json }};
window.PXUTheme.currency.display_format = {{ settings.currency_format | json }};
window.PXUTheme.currency.money_format = {{ shop[settings.currency_format] | strip_html | json }};
window.PXUTheme.currency.money_format_no_currency = {{ shop.money_format | strip_html | json }};
window.PXUTheme.currency.money_format_currency = {{ shop.money_with_currency_format | strip_html | json }};
window.PXUTheme.currency.native_multi_currency = {% if shop.enabled_currencies.size > 1 %}true{% else %}false{% endif %};
window.PXUTheme.currency.shipping_calculator = {{ settings.show_shipping_calculator | json }};
window.PXUTheme.currency.iso_code = {{ cart.currency.iso_code | json }};
window.PXUTheme.currency.symbol = {{ cart.currency.symbol | json }};

{% comment %} /* # Media queries
================================================== */ {% endcomment %}
window.PXUTheme.media_queries = {};
window.PXUTheme.media_queries.small = window.matchMedia( "(max-width: 480px)" );
window.PXUTheme.media_queries.medium = window.matchMedia( "(max-width: 798px)" );
window.PXUTheme.media_queries.large = window.matchMedia( "(min-width: 799px)" );
window.PXUTheme.media_queries.larger = window.matchMedia( "(min-width: 960px)" );
window.PXUTheme.media_queries.xlarge = window.matchMedia( "(min-width: 1200px)" );
window.PXUTheme.media_queries.ie10 = window.matchMedia( "all and (-ms-high-contrast: none), (-ms-high-contrast: active)" );
window.PXUTheme.media_queries.tablet = window.matchMedia( "only screen and (min-width: 799px) and (max-width: 1024px)" );

{% comment %} /* # Routes
================================================== */ {% endcomment %}
window.PXUTheme.routes = window.PXUTheme.routes || {};
window.PXUTheme.routes.root_url = "{{ routes.root_url }}";
window.PXUTheme.routes.search_url = "{{ routes.search_url }}";
window.PXUTheme.routes.cart_url = "{{ routes.cart_url }}";

{% endcapture %}
{%- assign js_variables = js_variables | split: 'Shopify.' -%}
{%- for variable in js_variables -%}{%- assign variableblock = variable | strip -%}{% if forloop.first %}{{ variableblock }}{% else %}{{ variableblock | prepend: 'Shopify.' }}{% endif %}{%- endfor -%}
