<div class="js-sizechart-lightbox" id="size-chart-{{ product.id }}" style="display: none">
  <div class="size-chart-wrap">
    {%- assign product_tags = product.tags | join: ' ' -%}
    {% if product_tags contains 'meta-size-chart-' %}
      {% for tag in product.tags %}
        {% if tag contains 'meta-size-chart-' %}
          {%- assign size_chart = tag | handle | remove: 'meta-size-chart-' -%}
            <h5 class="center">{{ pages[size_chart].title }}</h5>
            {{ pages[size_chart].content }}
        {% endif %}
      {% endfor %}
    {% elsif block.settings.size_chart != blank %}
      <h5 class="center">{{ pages[block.settings.size_chart].title }}</h5>
      {{ pages[block.settings.size_chart].content }}
    {% endif %}
  </div>
</div>
