<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">

    <title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}"/>
    {% endif %}

    {% render 'social-meta-info' %}

    {% if collection.previous_product %}
      <link rel="prev" href="{{ collection.previous_product }}">
    {% endif %}

    {% if collection.next_product %}
      <link rel="next" href="{{ collection.next_product }}">
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.shop_bg_color }}">

    <!-- Preconnect Domains -->
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

    <!-- Preload Assets -->
    <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">

    <!-- Stylesheets for Responsive -->
    {{ 'styles.css' | asset_url | stylesheet_tag }}

    <!-- Icons -->
    {% if settings.favicon != nil %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
    {% else %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}"/>

    {% comment %}Inject theme-object begin{% endcomment %}
    <script>
      window.PXUTheme = window.PXUTheme || {};
      window.PXUTheme.version = '8.0.1';
      window.PXUTheme.name = 'Responsive';
    </script>
    {% comment %}Inject theme-object end{% endcomment %}


    <script>
      {% render 'js-variables' %}
    </script>

    <script src="{{ 'vendors.js' | asset_url }}" defer></script>
    <script src="{{ 'app.js' | asset_url }}" defer></script>

    {{ content_for_header }}
  </head>
  <body id="password-page-bg">

    {{ content_for_layout }}

  </body>
</html>