{% comment %}
** Article (blog post) - main content area **
- Template section
{% endcomment %}

{% comment %} Check to see if sidebar should be enabled {% endcomment %}
{% if section.blocks.size > 0 %}
  {%- assign sidebar = true -%}
{% else %}
  {%- assign sidebar = false -%}
{% endif %}

{% paginate article.comments by 10 %}
  {% if article.image and section.settings.slideshow_post_enabled %}
    <div class="banner-section dark-overlay-{{ section.settings.slideshow_post_darken }} header_banner">
      {% render 'image-element',
              image: article.image,
              alt: article.image.alt,
              additional_classes: 'banner-section__image banner_image'
      %}

      <div class="banner-section__caption">
        <div class="container">
          <div class="five-eighths offset-by-three columns text-align-center">
            <h1 class="banner-section__caption-headline">{{ article.title }}</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="section">
      <div class="container content">
  {% else %}
    <section class="section">
      <div class="container">
        <div class="one-whole column">
          <div class="title">
            <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
          </div>
        </div>
  {% endif %}

  <div class="article-template-wrapper is-flex is-flex-wrap">
    <div class="has-sidebar-option sidebar-enabled--{{ sidebar }}">
      <div class="container">
        {% if section.settings.blog_breadcrumb %}
          <div class="one-whole column">
            <script type="application/ld+json">
              {
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [
                  {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                      "@id": "{{ shop.url }}",
                      "name": "{{ 'general.breadcrumbs.home' | t }}"
                    }
                  },
                  {
                    "@type": "ListItem",
                    "position": 2,
                    "item": {
                      "@id": "{{ blog.url }}",
                      "name": "{{ blog.title }}"
                    }
                  }
                ]
              }
            </script>

            <div class="breadcrumb">
              <a href="{{ shop.url }}" title="{{ shop.name | escape }}">
                <span>{{ 'general.breadcrumbs.home' | t }}</span>
              </a>

              &nbsp;<span class="icon-right-arrow"></span>

              <a href="{{ blog.url }}" title="{{ blog.title | escape }}">
                <span>{{ blog.title }}</span>
              </a>

              &nbsp;<span class="icon-right-arrow"></span>

              <span>{{ article.title }}</span>
            </div>
          </div>
        {% endif %}

        {% unless article.image and section.settings.slideshow_post_enabled %}
          <div class="one-whole column">
            <h1 class="article_name">{{ article.title }}</h1>
          </div>
        {% endunless %}

        {% if section.settings.blog_tags %}
          <div class="one-whole column">
            <div class="blog_meta tags">
              {% for tag in article.tags %}
                <span>
                  <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a>
                </span>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        <div class="one-whole column">
          <p class="blog_meta">
            {% if section.settings.blog_author %}
              <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
            {% endif %}

            {% if section.settings.blog_date %}
              <span>{{ article.published_at | date: format: "month_day_year" }}</span>
            {% endif %}

            {% if section.settings.blog_comment_count %}
              {% if settings.disqus_enabled %}
                <span>
                  <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                </span>
              {% elsif article.comments_enabled? and article.comments_count > 0 %}
                <span>
                  <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                </span>
              {% endif %}
            {% endif %}
          </p>
        </div>

        {% if article.image and section.settings.slideshow_post_enabled == false %}
          <div class="one-whole column header_banner">
            {% render 'image-element',
                    image: article.image,
                    alt: article.image.alt
            %}
          </div>
        {% endif %}

        <div class="one-whole column">
          {{ article.content }}

          <br />

          {% if section.settings.blog_author or section.settings.display_social_buttons %}
            <hr />
          {% endif %}
        </div>

        {% if section.settings.blog_author or section.settings.display_social_buttons %}
          <div class="one-whole column is-flex is-flex-wrap">
            {% if section.settings.blog_author %}
              <div class="blog__author is-flex is-align-center">
                <div class="blog__author-image is-hidden-mobile-only" data-email="{{ article.user.email }}">
                  <img src="//1.gravatar.com/avatar/{{ article.user.email | md5 }}?s=160&r=G" alt="{{ article.author }}" />
                </div>

                <div class="blog__author-bio">
                  <h6 class="blog__author-name">{{ article.author }}</h6>

                  <p class="meta">
                    <span class="label">{{ 'blogs.article.author' | t }}</span>
                  </p>

                  {% if article.user.bio != blank %}
                    <p>{{ article.user.bio }}</p>
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {% if section.settings.display_social_buttons %}
              <div class="blog__social-share">
                {% render 'social-buttons', context: 'article' %}
              </div>
            {% endif %}
          </div>
        {% endif %}

        <div id="comments" class="one-whole column"></div>

        {% if settings.disqus_enabled %}
          <div id="disqus_thread" class="one-whole column"></div>

          <script>
            var disqus_config = function () {
              this.page.url = "{{ canonical_url }}";
              this.page.identifier = "{{ article.id }}";
            };

            (function() {
              var d = document, s = d.createElement('script');
              s.src = '//{{ settings.disqus_shortname }}.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>

          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        {% elsif blog.comments_enabled? %}
          {% if article.comments_count > 0 %}
            <div class="one-whole column">
              <h4>{{ 'blogs.comments.response_count' | t: count: article.comments.size }}</h4>
            </div>

            {% for comment in article.comments %}
              <div id="comment-{{ comment.id }}" class="blog__comment">
                <div class="one-whole column is-flex is-flex-wrap">
                  <div class="blog__comment-author is-flex" data-email="{{ comment.email }}">
                    <div class="blog__comment-author-image is-hidden-mobile-only">
                      <img src="//1.gravatar.com/avatar/{{ comment.email | md5 }}?s=160&r=G" alt="{{ comment.author }}" />
                    </div>

                    <div class="blog__comment-author-bio">
                      <h6 class="blog__comment-author-name">{{ comment.author }}</h6>

                      <p class="meta">
                        <span class="label">{{ comment.created_at | date: format: "month_day_year" }}</span>
                      </p>

                      {{ comment.content }}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          <div class="one-whole column">
            {% render 'pagination', paginate: paginate %}

            <div class="clear" id="new-comment"></div>

            <h4>{{ 'blogs.comments.title' | t }}</h4>

            {% if blog.moderated? %}
              <p>
                <em>{{ 'blogs.comments.moderated' | t }}</em>
              </p>
            {% endif %}

            {% form article %}
              {% if form.posted_successfully? %}
                <div class="comment-form__success">
                  {% if blog.moderated? %}
                    <p class="comment-form__success-message">{{ 'blogs.comments.success_moderated' | t }}</p>
                  {% else %}
                    <p class="comment-form__success-message">{{ 'blogs.comments.success' | t }}</p>
                  {% endif %}
                </div>
              {% endif %}

              {% if form.errors %}
                <div class="comment-form__error">
                  <p class="comment-form__error-message">{{ 'general.forms.post_error' | t }}</p>
                </div>
              {% endif %}

              <div class="comment-form__name">
                <label for="comment_author">{{ 'blogs.comments.name' | t }} <span class="red">*</span></label>
                <input type="text" id="comment_author" name="comment[author]" value="{{ form.author }}" required="required" />
              </div>

              <div class="comment-form__email">
                <label for="comment_email">{{ 'blogs.comments.email' | t }} <span class="red">*</span></label>
                <input type="text" id="comment_email" name="comment[email]" value="{{ form.email }}" required="required" />
              </div>

              <div class="comment-form__body">
                <label for="comment_body">{{ 'blogs.comments.comment' | t }} <span class="red">*</span></label>
                <textarea id="comment_body" name="comment[body]" rows="5" required="required">{{ form.body }}</textarea>
              </div>

              <div class="comment-form__submit">
                <input type="submit" value="{{ 'blogs.comments.post' | t }}" id="comment-submit" class="action_button add_to_cart" />
              </div>
            {% endform %}
          </div>
        {% endif %}

        {% if section.settings.blog_additional_posts and blog.articles_count > 1 %}
          <div class="one-whole column">
            <hr />

            <h3>{{ 'blogs.article.additional_articles' | t: title: blog.title }}</h3>
          </div>

          {%- assign article_found = false -%}

          {% for a in blog.articles limit: 4 %}
            {%- assign skip_article = false -%}

            {% if article_found == false and forloop.last %}
              {%- assign skip_article = true -%}
            {% endif %}

            {% if article.id == a.id %}
              {%- assign article_found = true -%}
              {%- assign skip_article = true -%}
            {% endif %}

            {% unless skip_article %}
              <div class="one-third column medium-down--one-whole article">
                {% if a.image %}
                  <div class="article__imageContainer">
                    <a href="{{ a.url }}" title="{{ a.title | escape }}">
                      {% render 'image-element',
                              image: a.image,
                              alt: a.image.alt
                      %}
                    </a>
                  </div>
                {% endif %}

                {% if section.settings.blog_tags %}
                  <div class="blog_meta tags">
                    {% for tag in a.tags %}
                      <span>
                        <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title | escape }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a>
                      </span>
                    {% endfor %}
                  </div>
                {% endif %}

                <h5 class="sub_title">
                  <a href="{{ a.url }}" title="{{ a.title | escape }}">{{ a.title }}</a>
                </h5>

                <p class="blog_meta">
                  {% if section.settings.blog_author %}
                    <span>{{ 'blogs.article.by_author' | t: author: a.author }}</span>
                  {% endif %}

                  {% if section.settings.blog_date %}
                    <span>{{ a.published_at | date: format: "month_day_year" }}</span>
                  {% endif %}

                  {% if settings.disqus_enabled %}
                    <span>
                      <a href="{{ a.url }}#disqus_thread" data-disqus-identifier="{{ a.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                    </span>
                  {% elsif a.comments_enabled? and a.comments_count > 0 %}
                    <span>
                      <a href="{{ a.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: a.comments_count }}</a>
                    </span>
                  {% endif %}
                </p>

                {% if a.excerpt != blank %}
                  {%- assign postexcerpt = a.excerpt | size -%}

                  {% if postexcerpt > 100 %}
                    {%- assign excerptlength = 'lg' -%}
                  {% elsif postexcerpt <= 50 %}
                    {%- assign excerptlength = 'sm' -%}
                  {% endif %}

                  <div class="excerpt excerpt-length--{{ excerptlength }} {{ postexcerpt }}">
                    {{ a.excerpt }}

                    <span class="truncation-fade"></span>
                  </div>
                {% endif %}

                {% if section.settings.read_more_link %}
                  <p class="read-more">
                    <a class="animate-arrow" href="{{ a.url }}" title="{{ a.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }} <span class="icon-right-arrow"></span></a>
                  </p>
                {% endif %}
              </div>
            {% endunless %}
          {% endfor %}
        {% endif %}
      </div>
    </div>

    {% render 'blog-sidebar', blog_handle: blog.handle %}
  </div>
</div>
</section>

<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {
    // <![CDATA[
      $(function() {
        if(window.location.pathname.indexOf('/comments') != -1) {
          $('html,body').animate({scrollTop: $("#new-comment").offset().top-140},'slow');
        }
      });
    // ]]>
  });
</script>
</div>
{% endpaginate %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": "{{ article.content | strip_html | escape }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ shop.url }}{{ page.url }}"
    },
    "headline": "{{ article.title }}",
    {% if article.excerpt != blank %}
      "description": "{{ article.excerpt | strip_html | escape }}",
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        "https:{{ article | img_url: image_size }}"
      ],
    {% endif %}
    "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
    "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
    "dateModified": "{{ article.updated_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
    "author": {
      "@type": "Person",
      "name": "{{ article.author }}"
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.organization_logo %}
        "logo": {
          "@type": "ImageObject",
          "url": "https:{{ settings.organization_logo | img_url: '112x' }}"
        },
      {% endif %}
      "name": "{{ shop.name }}"
    }
  }
</script>

{% schema %}
  {
    "name": "Blog post",
    "class": "shopify-section--article-template",
    "settings": [
      {
        "type": "checkbox",
        "id": "slideshow_post_enabled",
        "label": "Show blog post banner image",
        "info": "The blog post's featured image will be used as a full-width banner",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "slideshow_post_darken",
        "label": "Darken banner image",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_breadcrumb",
        "label": "Show breadcrumb links",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_tags",
        "label": "Show tags",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_comment_count",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_social_buttons",
        "label": "Show social media share icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Additional posts"
      },
      {
        "type": "checkbox",
        "id": "blog_additional_posts",
        "label": "Show additional posts",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "read_more_link",
        "label": "Show continue reading link",
        "default": true
      },
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "paragraph",
        "content": "Create sidebar by adding content blocks."
      },
      {
        "type": "checkbox",
        "id": "toggle",
        "label": "Toggle sidebar content",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "post_tags",
        "name": "Blog post tags",
        "limit": 1
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "custom_menu_linklist",
            "label": "Menu"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter sign up form",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "newsletter_richtext",
            "label": "Text"
          },
          {
            "type": "checkbox",
            "id": "display_first_name",
            "label": "Show first name",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "display_last_name",
            "label": "Show last name",
            "default": true
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "type": "page",
            "id": "content_page",
            "label": "Page"
          }
        ]
      },
      {
        "type": "recent_posts",
        "name": "Recent blog posts",
        "limit": 1
      },
      {
        "type": "search",
        "name": "Search form",
        "limit": 1
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Text area can be used for details about blog authors or general information.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}
