{% comment %}
** Main blog page - main content area **
- Template section
{% endcomment %}

{% comment %} Check to see if sidebar should be enabled {% endcomment %}
{% if section.blocks.size > 0 %}
  {% assign sidebar = true %}
{% else %}
  {% assign sidebar = false %}
{% endif %}

{% paginate blog.articles by section.settings.blog_posts_per_page %}
  <section class="section">
    <div class="container">
      <div class="one-whole column">
        <h1>
          {% if current_tags %}
            <a href="/blogs/{{ blog.handle }}/tagged/{{ current_tags | handleize }}" title="{{ blog.title | escape }}">{{ current_tags }}</a>
          {% else %}
            <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
          {% endif %}
        </h1>

        {% if section.settings.blog_breadcrumb %}
          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "BreadcrumbList",
              "itemListElement": [
                {
                  "@type": "ListItem",
                  "position": 1,
                  "item": {
                    "@id": "{{ shop.url }}",
                    "name": "{{ 'general.breadcrumbs.home' | t }}"
                  }
                },
                {
                  "@type": "ListItem",
                  "position": 2,
                  "item": {
                    "@id": "{{ blog.url }}",
                    "name": "{{ blog.title }}"
                  }
                }
              ]
            }
          </script>

          <div class="breadcrumb">
            <a href="{{ shop.url }}" title="{{ shop.name | escape }}">
              <span>{{ 'general.breadcrumbs.home' | t }}</span>
            </a>&nbsp;<span class="icon-right-arrow"></span>
            <a href="{{ blog.url }}" title="{{ blog.title | escape }}">
              <span>{{ blog.title }}</span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "ItemList",
        "itemListElement": [
          {% for article in blog.articles %}
            {
              "@type": "ListItem",
              "position": "{{ forloop.index | json }}",
              "url": "{{ shop.url }}{{ article.url }}",
              "name": "{{ article.title }}"
            } {%- unless forloop.last -%},{%- endunless -%}
          {% endfor %}
        ]
      }
    </script>

    <div class="is-flex is-flex-wrap">
      <div class="has-sidebar-option sidebar-enabled--{{ sidebar }}">
        <div class="container">
          {% for article in blog.articles %}
            {% if section.settings.blog_posts_per_row == 1 %}
              {% if article.image %}
                <div
                  class="
                    one-half
                    column
                    medium-down--one-whole
                    article_image
                  "
                >
                  <a href="{{ article.url }}" title="{{ article.title | escape }}">
                    {%
                      render 'image-element',
                      image: article.image,
                      alt: image.alt
                    %}
                  </a>
                </div>

                <div
                  class="
                    one-half
                    column
                    medium-down--one-whole
                    article
                  "
                >
              {% else %}
                <div
                  class="
                    one-whole
                    column
                    medium-down--one-whole
                    article
                  "
                >
              {% endif %}
            {% else %}
              <div
                class="
                  {%
                    render 'column-width',
                    value: section.settings.blog_posts_per_row
                  %}
                  column
                  medium-down--one-whole
                  article
                "
              >
              {% if article.image %}
                <div class="article__imageContainer">
                  <a href="{{ article.url }}" title="{{ article.title | escape }}">
                    {%
                      render 'image-element',
                      image: article.image,
                      alt: image.alt
                    %}
                  </a>
                </div>
              {% endif %}
            {% endif %}

            {% if section.settings.blog_tags %}
              <div class="blog_meta tags">
                {% for tag in article.tags %}
                  <span>
                    <a href="{{ shop.url }}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a>
                  </span>
                {% endfor %}
              </div>
            {% endif %}

            <h2 class="article_title">
              <a href="{{ article.url }}">{{ article.title }}</a>
            </h2>

            <p class="blog_meta">
              {% if section.settings.blog_author %}
                <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
              {% endif %}

              {% if section.settings.blog_date %}
                <span>{{ article.published_at | date: format: "month_day_year" }}</span>
              {% endif %}

              {% if section.settings.blog_comment_count %}
                {% if settings.disqus_enabled %}
                  <span>
                    <a
                      class="disqus-comment-count"
                      href="{{ article.url }}#disqus_thread"
                      data-disqus-identifier="{{ article.id }}"
                    >
                      {{ 'blogs.counts.comments_with_count' | t: count: 0 }}
                    </a>
                  </span>
                {% elsif article.comments_enabled? and article.comments_count > 0 %}
                  <span>
                    <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                  </span>
                {% endif %}
              {% endif %}
            </p>

            {% assign postexcerpt = article.excerpt_or_content | size %}

            {% if postexcerpt > 100 %}
              {% assign excerptlength = 'lg' %}
            {% elsif postexcerpt <= 50 %}
              {% assign excerptlength = 'sm' %}
            {% endif %}

            <div
              class="
                excerpt
                excerpt-length--{{ excerptlength }}
                {{ postexcerpt }}
              "
            >
              {{ article.excerpt_or_content }}
              <span class="truncation-fade"></span>
            </div>

            {% if section.settings.read_more_link %}
              <p class="read-more">
                <a
                  class="animate-arrow"
                  href="{{ article.url }}"
                  title="{{ article.title | escape }}"
                >
                  {{ 'blogs.general.continue_reading_html' | t }} <span class="icon-right-arrow"></span>
                </a>
              </p>
            {% endif %}
          </div>
        {% endfor %}

        {%
          render 'pagination',
          paginate: paginate
        %}
      </div>
    </div>

    {%
      render 'blog-sidebar',
      blog_handle: blog.handle
    %}
    </div>
    </div>
  </section>
{% endpaginate %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Blog",
    "name": "{{ blog.title | escape }}",
    "url": "{{ shop.url }}{{ blog.url }}",
    "blogPosts": [
      {% for article in blog.articles %}
        {
          "@context": "http://schema.org",
          "@type": "BlogPosting",
          "headline": "{{ article.title | escape }}",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ article.url }}"
          },
          {% if article.image %}
            "image": {
              "@type": "ImageObject",
              "url": "{{ article.image | img_url: '800x' }}"
            },
          {% endif %}
          "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
          "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
          "dateModified": "{{ article.updated_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
          "author": {
            "@type": "Person",
            "name": "{{ article.author }}"
          },
          "publisher": {
            "@type": "Organization",
            {% if settings.organization_logo %}
              "logo": {
                "@type": "ImageObject",
                "url": "https:{{ settings.organization_logo | img_url: '112x' }}"
              },
            {% endif %}
            "name": "{{ shop.name }}"
          }
        } {%- unless forloop.last -%},{%- endunless -%}
      {% endfor %}
    ]
  }
</script>


{% schema %}
  {
    "name": "Blog",
    "class": "shopify-section--blog-template",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_breadcrumb",
        "label": "Show breadcrumb links",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_tags",
        "label": "Show tags",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_comment_count",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "read_more_link",
        "label": "Show continue reading link",
        "default": true
      },
      {
        "type": "range",
        "id": "blog_posts_per_row",
        "label": "Blog posts per row",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "blog_posts_per_page",
        "label": "Blog posts per page",
        "min": 1,
        "max": 50,
        "step": 1,
        "default": 12
      },
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "paragraph",
        "content": "Create sidebar by adding content blocks."
      },
      {
        "type": "checkbox",
        "id": "toggle",
        "label": "Toggle sidebar content",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "post_tags",
        "name": "Blog post tags",
        "limit": 1
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "custom_menu_linklist",
            "label": "Menu"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter sign up form",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "newsletter_richtext",
            "label": "Text"
          },
          {
            "type": "checkbox",
            "id": "display_first_name",
            "label": "Show first name",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "display_last_name",
            "label": "Show last name",
            "default": true
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "type": "page",
            "id": "content_page",
            "label": "Page"
          }
        ]
      },
      {
        "type": "recent_posts",
        "name": "Recent blog posts",
        "limit": 1
      },
      {
        "type": "search",
        "name": "Search form",
        "limit": 1
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Text area can be used for details about blog authors or general information.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}
