{% liquid
  assign toggle = section.settings.toggle
  assign filter_block = nil
  assign active_filters = false

  for block in section.blocks
    if block.type == 'filter'
      assign filter_block = block
    endif
  endfor

  assign show_product_count = filter_block.settings.show_filter_product_count

  for filter in collection.filters
    if filter.active_values.size > 0 or filter.min_value.value or filter.max_value.value
      assign active_filters = true
      break
    endif
  endfor
%}


{% paginate collection.products by section.settings.pagination_limit %}
  <section class="section">
    <div class="container">
      <div class="one-whole column">
        <h1>
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
        </h1>
      </div>

      <div class="one-whole column">
        {% if section.settings.show_collection_image and collection.image %}
          <figure class="collection-image">
            {%
              render 'image-element',
              image: collection.image,
              alt: collection.image.alt,
              stretch_width: true
            %}
          </figure>
        {% endif %}
      </div>

      {% if section.settings.collection_breadcrumb %}
        <div
          class="
            breadcrumb
            four-tenths
            columns
            medium-down--one-whole
          "
        >
          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "BreadcrumbList",
              "itemListElement": [
                {
                  "@type": "ListItem",
                  "position": 1,
                  "item": {
                    "@id": "{{ shop.url }}",
                    "name": "{{ 'general.breadcrumbs.home' | t }}"
                  }
                },
                {
                  "@type": "ListItem",
                  "position": 2,
                  "item": {
                    "@id": "{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}",
                    "name": "{{ collection.title }}"
                  }
                }
                {% if current_tags %}
                  {% for tag in current_tags %}
                    {% unless tag contains 'meta-' %}
                      ,
                      {
                        "@type": "ListItem",
                        "position": {{ forloop.index | plus: 2 }},
                        "item": {
                          "@id": "{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}",
                          "name": "{{ tag }}"
                        }
                      }
                    {% endunless %}
                  {% endfor %}
                {% endif %}
              ]
            }
          </script>

          <a href="{{ shop.url }}" title="{{ shop.name | escape }}">
            <span>{{ 'general.breadcrumbs.home' | t }}</span>
          </a>

          &nbsp;<span class="icon-right-arrow"></span>

          <a href="{{ collection.url }}" title="{{ collection.title | escape }}">
            <span>{{ collection.title }}</span>
          </a>

          {% if current_tags %}
            {% for tag in current_tags %}
              <span class="icon-right-arrow"></span>
              <a href="{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}"><span>{{ tag }}</span></a>
            {% endfor %}
          {% endif %}

          {% if paginate.pages != 0 %}
            <span class="icon-right-arrow"></span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
          {% endif %}
        </div>
      {% endif %}

      {% if collection.handle != blank and collection.products_count > 0 %}
        <div
          class="
            section_select
            {% if section.settings.collection_breadcrumb %}
              six-tenths columns
            {% else %}
              one-whole column
            {% endif %}
            medium-down--one-whole
          "
        >
          {% if section.settings.collection_sort %}
            <div class="filter_wrap">
              <label class="inline" for="sort-by">{{ 'collections.sorting.title' | t }}: </label>
              <select
                class="sort_by"
                id="sort-by"
                data-default-sort="{{ collection.sort_by | default: collection.default_sort_by  }}"
              >
                <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
                <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
                <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
                <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
                <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
                <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
                <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
                <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
              </select>
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if collection.description != blank %}
        <div
          class="
            one-whole
            column
            collection-description"
          >
          {{ collection.description }}
        </div>
      {% endif %}
      {% if filter_block and collection.filters.size > 0 %}
        <div
          class="
            collection-filters-modal__wrapper
            column
            one-whole
          "
        >
          <button
            class="
              action_button
              action_button--secondary
              collection-filters-modal__link
            "
            aria-label="{{ 'collections.sorting.filter' | t }}"
            data-filter-modal-open
          >
            {{ 'collections.sorting.filter' | t }}
          </button>
        </div>
      {% endif %}

    </div>

    {% comment %} Check to see if sidebar should be enabled {% endcomment %}
    {% if section.blocks.size > 0 %}
      {% assign sidebar = true %}
    {% else %}
      {% assign sidebar = false %}
    {% endif %}

    <div
      class="
        content-wrapper
        content-wrapper--collection
        is-flex
        is-flex-wrap
      "
    >
      {%
        render 'sidebar'
        context: 'collection',
        toggle: toggle,
        filter_group_classes: 'sidebar__block-faceted-search',
        show_product_count: show_product_count,
        class_prefix: 'collection'
      %}

      <div class="has-sidebar-option sidebar-enabled--{{ sidebar }}">
         {% if filter_block %}
            <div
              class="
                collection-filter-active-tags
                one-whole
                column
                medium-down--one-whole
              "
            >
              {% assign current_sort = collection.sort_by | default: collection.default_sort_by %}
              {%- capture clear_url -%}
                {{ collection.url }}?sort_by={{ current_sort }}
              {%- endcapture -%}

              {%
                render 'faceted-filter-active',
                class_prefix: 'collection',
                filter_type: collection.filters,
                clear_url: clear_url,
              %}
            </div>
          {% endif %}
        <div class="container featured_collections">
          {% assign linklist = linklists[collection.handle] %}

          {% if linklist != empty %}
            {% assign collections_per_row = section.settings.collections_per_row %}
            {%
              render 'collection-loop',
              linklist: linklist,
              collections_per_row: collections_per_row,
              sidebar: sidebar
            %}
          {% endif %}
        </div>

        <div class="container">
          {% if collection.products.size == 0 %}
            <div
              class="
                one-whole
                column
                text-align-center
              "
            >
              <p class="quote">{{ 'collections.general.no_matches' | t }}</p>
            </div>
          {% else %}
            {% assign products = collection.products %}
            {% assign products_per_row = section.settings.products_per_row %}
            {%
              render 'product-loop',
              products: products,
              products_per_row: products_per_row,
              sidebar: sidebar
            %}
          {% endif %}

          {%
            render 'pagination',
            paginate: paginate
          %}
        </div>
      </div>
    </div>
  </section>
{% endpaginate %}

{% schema %}
  {
    "name": "Sub-collections",
    "class": "shopify-section--collection-template",
    "settings": [
      {
        "type": "checkbox",
        "id": "collection_breadcrumb",
        "label": "Show breadcrumb links",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "info": "[Learn more](https:\/\/help.shopify.com\/en\/manual\/products\/collections\/collection-layout#add-or-change-the-featured-image-for-a-collection)",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "collection_sort",
        "label": "Show collection sorting",
        "default": false
      },
      {
        "type": "header",
        "content": "Collections"
      },
      {
        "type": "checkbox",
        "id": "frontpage_collections_title",
        "label": "Show collection title",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "collection_count",
        "label": "Show collection product count",
        "default": true
      },
      {
        "type": "range",
        "id": "collections_per_row",
        "label": "Collections per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "header",
        "content": "Products"
      },
      {
        "type": "range",
        "id": "products_per_row",
        "label": "Products per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "pagination_limit",
        "label": "Products per page",
        "min": 2,
        "max": 50,
        "step": 1,
        "default": 48
      },
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "paragraph",
        "content": "Create sidebar by adding content blocks."
      },
      {
        "type": "checkbox",
        "id": "toggle",
        "label": "Toggle sidebar content",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "filter",
        "name": "Filters",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_filter_product_count",
            "label": "Show product counts",
            "default": true
          }
        ],
        "limit": 1
      },
      {
        "type": "filter_by_collection",
        "name": "Collection list",
        "limit": 1
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "custom_menu_linklist",
            "label": "Menu"
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "type": "page",
            "id": "content_page",
            "label": "Page"
          }
        ]
      },
      {
        "type": "filter_by_tag",
        "name": "Tag list",
        "limit": 1
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Text area can be used for special announcements or general information.</p>"
          }
        ]
      },
      {
        "type": "filter_by_type",
        "name": "Type list",
        "limit": 1
      },
      {
        "type": "filter_by_vendor",
        "name": "Vendor list",
        "limit": 1
      }
    ]
  }
{% endschema %}
