{% include 'include-blog-post' %}

{% schema %}
  {
    "name": "Blog posts",
    "class": "shopify-section--blog-posts",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "type": "blog",
        "id": "blog_widget_select",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "home_page_articles",
        "label": "Posts",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "blog_tags",
        "label": "Show tags",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_comment_count",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "read_more_link",
        "label": "Show continue reading link",
        "default": true
      }
    ],
    "presets": [{
      "name": "Blog posts",
      "category": "Blog",
      "settings": {
        "blog_widget_select": ""
      }
    }],
    "templates": [
      "index",
      "product",
      "page"
    ]
  }
{% endschema %}
