{% assign product = all_products[section.settings.featured_product] %}
{% assign variant = product.selected_or_first_available_variant %}
{% assign collection_handles = product.collections | map: 'handle' %}

{% if product.empty? %}
  {% assign section_onboarding = true %}
{% else %}
  {% assign section_onboarding = false %}
{% endif %}

{%
  render 'product-structured-data',
  product: product
%}

<section class="section">
  <div class="container featured-product">
    {% if section.settings.title != blank %}
      <div class="one-whole column">
        <h2
          class="
            section-header
            home
            text-align--center
          "
        >
          {{ section.settings.title }}
        </h2>
      </div>
    {% endif %}

    {% if product.empty? %}
      {% assign section_onboarding = true %}
    {% else %}
      {% assign section_onboarding = false %}
    {% endif %}

    <div
      class="
        product-{{ product.id }}
        container
        flex-container
        featured-product-container
        product_section media-position--{{ section.settings.product_images_position }}
      "
      data-product-media-supported="{% if product.media != null %}true{% else %}false{% endif %}"
      data-thumbnails-enabled="{{ section.settings.display_thumbnails }}"
      data-gallery-arrows-enabled="{{ section.settings.gallery_arrows }}"
      data-slideshow-speed="{{ section.settings.slideshow_speed }}"
      data-slideshow-animation="{{ section.settings.slideshow_transition }}"
      data-thumbnails-position="{{ section.settings.thumbnail_position }}"
      data-thumbnails-slider-enabled="{{ section.settings.enable_thumbnail_slider }}"
      data-activate-zoom="{{ section.settings.activate_zoom }}"
      data-block-id="{{ section.id }}"
      {{ block.shopify_attributes }}
    >
      <div
        class="
          featured-product-image
          one-half
          column
          medium-down--one-whole
        "
      >
        {% if section_onboarding %}
          {% capture i %}{% cycle "1", "2" %}{% endcapture %}
          {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
        {% else %}
          {% if type == 'block' %}
            {%
              render 'product-images',
              product: product,
              video_looping: section.settings.video_looping,
              set_product_height: section.settings.set_product_height,
              type: 'block'
            %}
          {% else %}
            {%
              render 'product-images',
              product: product,
              video_looping: section.settings.video_looping,
              set_product_height: section.settings.set_product_height
            %}
          {% endif %}
        {% endif %}
      </div>

      <div
        class="
          featured-product-info
          content_column
          one-half
          column
          medium-down--one-whole
        "
        data-product-details
      >
        {% for block in section.blocks %}
          <div
            class="
              product-block
              product-block--{{ block.type }}
              {% if forloop.first %}
                product-block--first
              {% endif %}
            "
            {{ block.shopify_attributes }}
          >
            {% case block.type %}

              {% when '@app' %}
                <div class="product-app">
                  {% render block %}
                </div>

              {% when 'sku' %}
                {% if variant.sku != blank %}
                  <p class="sku">
                    {{ variant.sku }}
                  </p>
                {% endif %}

              {% when 'social' %}
                <div class="social_links">
                  {%
                    render 'social-buttons',
                    context: 'product'
                  %}
                </div>

              {% when 'text' %}
                <div class="product-text">
                  {{ block.settings.text }}
                </div>

              {% when 'vendor' %}
                <p class="vendor">
                  <span>
                    {{ product.vendor | link_to_vendor }}
                  </span>
                </p>

              {% when 'title' %}
                {% if section_onboarding %}
                  <h3 class="product__title">
                    <a href="{{ product.url }}">
                      {{ 'homepage.onboarding.product_title' | t }}
                    </a>
                  </h3>
                {% else %}
                  <h3 class="product__title">
                    <a href="{{ product.url }}">
                      {{ product.title }}
                    </a>
                  </h3>
                {% endif %}

                {% if settings.enable_shopify_product_badges %}
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                {% endif %}

              {% when 'price' %}
                {% if section_onboarding %}
                  <p class="modal_price">
                    <span class="current-price">
                      $49.00
                    </span>
                  </p>
                {% else %}
                  <div class="product__price-container {% if variant.available == false %}product__price-container--sold-out{% endif %}">
                    {% if collection_handles contains 'coming-soon' %}
                      <p class="product__price">
                        {{ 'collections.general.coming_soon' | t }}
                      </p>
                    {% else %}
                      <p class="product__price">
                        <span class="{% if variant.compare_at_price > variant.price %}sale{% endif %}" content="{{ variant.price | money_without_currency | remove: "," }}">
                          <span class="current-price">
                            {% if variant.available %}
                              {% if variant.price > 0 %}
                                <span class="money">
                                  {%
                                    render 'price-element',
                                    price: variant.price
                                  %}
                                </span>
                              {% else %}
                                {{ settings.free_price_text }}
                              {% endif %}
                            {% endif %}
                          </span>
                        </span>
                        <span class="was-price">
                          {% if variant.price < variant.compare_at_price %}
                            <span class="money">
                              {%
                                render 'price-element',
                                price: variant.compare_at_price
                              %}
                            </span>
                          {% endif %}
                        </span>
                      </p>

                      <span class="sold-out-text">
                        {% if variant.available == false %}
                          &ndash; {{ 'products.product.sold_out' | t }}
                        {% endif %}
                      </span>
                    {% endif %}

                    <form data-payment-terms-target style="display: none;"></form>
                  </div>

                  {%
                    render 'unit-price',
                    item: variant,
                    class: 'product-details__unit-price'
                  %}
                {% endif %}

              {% when 'rating' %}
                {% if product.metafields.reviews.rating.value != blank %}
                  <div class="product__rating rating">
                    {%
                      render 'rating-stars',
                      value: product.metafields.reviews.rating.value.rating,
                      scale_max: product.metafields.reviews.rating.value.scale_max,
                    %}

                    <p class="rating__text">
                      <span aria-hidden="true">
                        {{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}
                      </span>
                    </p>

                    <p class="rating__count">
                      <span aria-hidden="true">
                        ({{ product.metafields.reviews.rating_count }})
                      </span>

                      <span class="visually-hidden">
                        {{ product.metafields.reviews.rating_count }} {{ "general.accessibility.total_reviews" | t }}
                      </span>
                    </p>
                  </div>
                {% endif %}

              {% when 'size_chart' %}
                <div class="size-chart__container size-chart--{{ block.settings.text_position }}">
                  {%- assign product_tags = product.tags | join: ' ' -%}

                  {% if product_tags contains 'meta-size-chart-' %}
                    {% for tag in product.tags %}
                      {% if tag contains 'meta-size-chart-' %}
                        <a
                          class="size_chart"
                          href="javascript:;"
                          data-fancybox
                          data-src="#size-chart-{{ product.id }}"
                        >
                          {{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span>
                        </a>

                        {%
                          render 'size-chart-popup',
                          product: product,
                          block: block
                        %}
                      {% endif %}
                    {% endfor %}
                  {% elsif block.settings.size_chart != blank %}
                    <a
                      class="size_chart"
                      href="javascript:;"
                      data-fancybox
                      data-src="#size-chart-{{ product.id }}"
                    >
                      {{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span>
                    </a>

                    {%
                      render 'size-chart-popup',
                      product: product,
                      block: block
                    %}
                  {% endif %}
                </div>

              {% when 'description' %}
                {% if section_onboarding %}
                  <div class="description">
                    <p>
                      {{ 'homepage.onboarding.product_description' | t }}
                    </p>
                  </div>
                {% else %}
                  {% if product.description != blank %}
                    <div class="description">
                      {% if product.description contains '<!-- split -->' %}{{ product.description | split: '<!-- split -->' | first  }}{% else %}{% render 'product-description-tabs', product: product %}{% endif %}
                    </div>
                  {% endif %}
                {% endif %}

              {% when 'form' %}
                {% if section_onboarding %}
                  <button
                    class="
                      action_button
                      add_to_cart
                    "
                    type="submit"
                    name="add"
                    data-label={{ add_to_cart_label | json }}
                  >
                    <span class="text">
                      {{ 'products.product.add_to_cart' | t }}
                    </span>
                  </button>
                {% else %}
                  {% unless collection_handles contains 'coming-soon' %}
                    {%
                      render 'product-notify-me',
                      product: product
                    %}

                    <div class="js-product_section product_section">
                      {%
                        render 'product-form',
                        context: 'product',
                        product: product,
                        collection_handles: collection_handles,
                        type: 'block'
                      %}
                    </div>
                  {% endunless %}
                {% endif %}

              {% when 'product_links' %}
                <hr />

                <div class="meta">
                  {% if block.settings.display_collections %}
                    <p>
                      <span class="label">
                        {{ 'products.product.collections' | t }}:
                      </span>

                      <span>
                        {% for col in product.collections %}
                          <a href="{{ col.url }}" title="{{ 'collections.general.link_title' | t: title: col.title }}">
                            {{ col.title }}
                          </a>
                          {% unless forloop.last %},{% endunless %}
                        {% endfor %}
                      </span>
                    </p>
                  {% endif %}

                  {% if block.settings.display_tags %}
                    <p>
                      {% for tag in product.tags %}
                        {% if forloop.first %}
                          <span class="label">
                            {{ 'products.product.tags' | t }}:
                          </span>
                        {% endif %}

                        {% unless tag contains 'meta-' %}
                          <span>
                            <a href="{{ routes.collections_url }}/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">
                              {{ tag }}
                            </a>
                            {% unless forloop.last %},{% endunless %}
                          </span>
                        {% endunless %}
                      {% endfor %}
                    </p>
                  {% endif %}

                  {% if block.settings.display_type %}
                    <p>
                      <span class="label">
                        {{ 'products.product.product_types' | t }}:
                      </span>

                      <span>
                        {{ product.type | link_to_type }}
                      </span>
                    </p>
                  {% endif %}
                </div>
              {% endcase %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% if section.settings.set_product_height %}
  {% style %}
    {% if type == 'block' %}
      #block__{{ section.id }} .product_slider model-viewer {
        min-height: {{ section.settings.product_height }}px;
      }

      #block__{{ section.id }} .product_slider .product-gallery__main img,
      #block__{{ section.id }} .product_slider .product-gallery__main .plyr--html5 video,
      #block__{{ section.id }} .product_slider .product-gallery__main .plyr--youtube {
        max-height: {{ section.settings.product_height }}px;
      }
    {% else %}
      #shopify-section-{{ section.id }} .product_slider model-viewer {
        min-height: {{ section.settings.product_height }}px;
      }

      #shopify-section-{{ section.id }} .product_slider .product-gallery__main img,
      #shopify-section-{{ section.id }} .product_slider .product-gallery__main .plyr--html5 video,
      #shopify-section-{{ section.id }} .product_slider .product-gallery__main .plyr--youtube {
        max-height: {{ section.settings.product_height }}px;
      }
    {% endif %}
  {% endstyle %}
{% endif %}

{% style %}
  .shopify-model-viewer-ui model-viewer {
    --progress-bar-height: 2px;
    --progress-bar-color: {{ settings.regular_color }};
  }
{% endstyle %}

{% comment %} Shopify-XR {% endcomment %}
{% if product.media %}
  <script>
    window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
      {% assign models = product.media | where: 'media_type', 'model' | json %}
      ShopifyXR('addModels', {{ models }});
  </script>
{% endif %}

{% schema %}
  {
    "name": "Featured product",
    "class": "shopify-section--featured-product",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured product"
      },
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
      {
        "type": "header",
        "content": "Product gallery"
      },
      {
        "type": "checkbox",
        "id": "display_thumbnails",
        "label": "Show thumbnails",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "gallery_arrows",
        "label": "Show arrows",
        "info": "Only applies to desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "activate_zoom",
        "label": "Magnify product images on hover",
        "default": false
      },
      {
        "type": "range",
        "id": "slideshow_speed",
        "label": "Gallery speed",
        "min": 0,
        "max": 6,
        "unit": "sec",
        "default": 0,
        "info": "Set to 0 to disable autoplay."
      },
      {
        "type": "select",
        "id": "slideshow_transition",
        "label": "Gallery transition",
        "default": "slide",
        "options": [
          {
            "value": "slide",
            "label": "Slide"
          },
          {
            "value": "fade",
            "label": "Fade"
          }
        ]
      },
      {
        "type": "select",
        "id": "thumbnail_position",
        "label": "Thumbnails",
        "default": "bottom-thumbnails",
        "options": [
          {
            "value": "left-thumbnails",
            "label": "Left"
          },
          {
            "value": "right-thumbnails",
            "label": "Right"
          },
          {
            "value": "bottom-thumbnails",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_thumbnail_slider",
        "label": "Enable thumbnail slider",
        "default": true
      },
      {
        "type": "header",
        "content": "Media",
        "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "type": "radio",
        "id": "product_images_position",
        "label": "Media position",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "set_product_height",
        "label": "Set height of product media",
        "default": false
      },
      {
        "type": "range",
        "id": "product_height",
        "label": "Product media height",
        "min": 200,
        "max": 800,
        "step": 10,
        "default": 500,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "video_looping",
        "label": "Enable video looping",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      },
      {
        "type": "sku",
        "name": "SKU",
        "limit": 1
      },
      {
        "type": "social",
        "name": "Social",
        "limit": 1
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1
      },
      {
        "type": "product_links",
        "name": "Product links",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "display_collections",
            "label": "Show collections",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "display_tags",
            "label": "Show tags",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "display_type",
            "label": "Show type",
            "default": false
          }
        ]
      },
      {
        "type": "size_chart",
        "name": "Size chart",
        "limit": 1,
        "settings": [
          {
            "type": "page",
            "id": "size_chart",
            "label": "Size chart",
            "info": "[Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910707-Using-the-Size-Chart-Sections-themes-)"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Text block</p>"
          }
        ]
      },
      {
        "type": "form",
        "name": "Form",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Customize form features for the product in the products portion of the theme settings."
          }
        ]
      },
      {
        "type": "rating",
        "name": "Product rating",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "To display a rating, add a product rating app. [Learn more](https://apps.shopify.com/product-reviews)"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Product",
        "name": "Featured product",
        "blocks": [
          {
            "type": "title"
          },
          {
            "type": "price"
          },
          {
            "type": "description"
          },
          {
            "type": "form"
          }
        ]
      }
    ],
    "templates": [
      "index",
      "page"
    ]
  }
{% endschema %}
