{% assign collection = collections[section.settings.frontpage_collection] %}

<section class="section">
  <div class="container">
    <div class="one-whole column">
      {% if section.settings.title != blank %}
        <h2
          class="
            home
            section-header
            text-align--center
          "
        >
          <a {% if collection != blank %}href="{{ collection.url }}"{% endif %}>
            {{ section.settings.title }}
          </a>
        </h2>
      {% endif %}
    </div>

    {% if collection.products.size > 0 %}
      {% for product in collection.products limit: section.settings.frontpage_products_limit %}
        {%
          render 'product-thumbnail',
          product: product,
          products_per_row: section.settings.frontpage_products_per_row
        %}
      {% endfor %}
    {% else %}
      {% for i in (1..section.settings.frontpage_products_limit) %}
        <div
          class="
            column
            thumbnail
            {%
              render 'column-width',
              value: section.settings.frontpage_products_per_row
            %}
            {% if settings.mobile_products_per_row == '1' %}
              medium-down--one-whole
            {% else %}
              medium-down--one-half
            {% endif %}
          "
        >
          <a href="#">
            <div class="relative product_image">
              {% capture num %}{% cycle "1", "2", "3" %}{% endcapture %}
              {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
            </div>
            <div class="info">
              <span class="title">{{ 'homepage.onboarding.product_title' | t }}</span>
                <span class="price">
                <span class="money">$49.60</span>
              </span>
            </div>
          </a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "class": "shopify-section--featured-collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "collection",
        "id": "frontpage_collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "frontpage_products_per_row",
        "label": "Products per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "frontpage_products_limit",
        "label": "Limit products",
        "min": 2,
        "max": 50,
        "step": 1,
        "default": 12
      }
    ],
    "presets": [{
      "name": "Featured collection",
      "category": "Collection",
      "settings": {
        "frontpage_collection": ""
      }
    }],
    "templates": [
      "index",
      "product",
      "page"
    ]
  }
{% endschema %}
