{% comment %}
** Featured promotions - dynamic **
- Draggable section
- Uses blocks
{% endcomment %}

{% comment %} Content settings {% endcomment %}
{%- assign blocks = section.blocks -%}
{% comment %} End content settings {% endcomment %}

{% if blocks.size > 0 %}
  <section class="section {% if section.settings.wide_display == true %}is-width-wide has-no-side-gutter{% endif %}">
    <div class="container {% if section.settings.wide_display == true %}promotions-grid-full_width{% endif %}">
      <div id="js-featured-promotions"
           class="featured-promotions
                  featured-promotions--wide-{{ section.settings.wide_display }}
                  featured-promotions--rounded-{{ section.settings.rounded_image }}
                  promo-per-row-{{ section.settings.featured_promos_per_row | minus: 0 }}">
        {% for block in blocks %}
          <figure {{ block.shopify_attributes }} class="feature-section section-{{ forloop.index }} promo-{{ forloop.index }}" >
            {% comment %} Content settings {% endcomment %}
            {%- assign image = block.settings.image -%}
            {% comment %} End content settings {% endcomment %}

            {% if image %}
              {% if image.alt != blank %}
                {%- assign alt = image.alt -%}
              {% else %}
                {%- assign alt = block.settings.title -%}
              {% endif %}

              <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %}>
                {% render 'image-element',
                        image: image,
                        alt: image.alt
                %}
              </a>
            {% else %}
              {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
              {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
            {% endif %}
            <figcaption class="feature-overlay">
                <div class="feature-wrap">
                  {% if block.settings.title != blank %}
                    <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %}>
                      <h2 class="title">{{ block.settings.title }}</h2>
                    </a>
                  {% endif %}
                  <div class="feature-details">
                    {% if block.settings.text != blank %}
                      <span class="description">{{ block.settings.text }}</span>
                    {% endif %}
                  </div>
                </div>
            </figcaption>
          </figure>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Featured promotions",
    "class": "shopify-section--featured-promotions",
    "max_blocks": 16,
    "settings": [
      {
        "type": "checkbox",
        "id": "wide_display",
        "label": "Wide display",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "rounded_image",
        "label": "Rounded images",
        "default": false
      },
      {
        "type": "range",
        "id": "featured_promos_per_row",
        "label": "Promotions per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Promotion",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "800 x 800px recommended"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Featured promotions",
      "category": "Image",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "image": "",
            "link": "",
            "title": "",
            "text": ""
          }
        },
        {
          "type": "image",
          "settings": {
            "image": "",
            "link": "",
            "title": "",
            "text": ""
          }
        },
        {
          "type": "image",
          "settings": {
            "image": "",
            "link": "",
            "title": "",
            "text": ""
          }
        }
      ]
    }],
    "templates": [
      "index",
      "product",
      "page"
    ]
  }
{% endschema %}
