<section class="section">
  <div
    class="
      container
      image-with-text-container
      is-flex-{{ section.settings.layout }}
      is-align-center
      text-align-{{ section.settings.text_alignment }}
    "
  >
    <div
      class="
        image-with-text__image-column
        one-half
        column
        medium-down--one-whole
      "
    >
      {% if section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" title="{{ section.settings.title | escape }}">
      {% endif %}

      {% if section.settings.image != blank %}
        {%
          render 'image-element',
          image: section.settings.image,
          alt: section.settings.image.alt
        %}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}

      {% if section.settings.button_link != blank %}
        </a>
      {% endif %}
    </div>

    <div
      class="
        image-with-text__text-column
        one-half
        column
        medium-down--one-whole
      "
    >
      <div class="image-with-text__wrapper">
        {% if section.settings.title != blank %}
          <h3 class="text-align-{{ section.settings.text_alignment }}">
            {{ section.settings.title }}
          </h3>
        {% endif %}

        {% if section.settings.text != blank %}
          <span class="trim-last-paragraph">
            {{ section.settings.text }}
          </span>
        {% endif %}

        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a class="action_button" href="{{ section.settings.button_link }}">
            {{ section.settings.button_label }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Image with text",
    "class": "shopify-section--image-with-text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1024 x 1024px recommended"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image position",
        "default": "row",
        "options": [
          {
            "value": "row",
            "label": "Left"
          },
          {
            "value": "row-reverse",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ],
    "templates": [
      "index",
      "product",
      "page"
    ]
  }
{% endschema %}
