{% paginate collections by section.settings.pagination_limit %}
  {%- assign collections_per_row = section.settings.collections_per_row -%}

  <section class="section">
    <div class="container">
      <div class="one-whole column">
        <h1>{{ 'collections.general.title' | t }}</h1>
      </div>

      {% if section.settings.collection_breadcrumb %}
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "item": {
                  "@id": "{{ shop.url }}",
                  "name": "{{ 'general.breadcrumbs.home' | t }}"
                }
              },
              {
                "@type": "ListItem",
                "position": 2,
                "item": {
                  "@id": "{{ routes.collections_url }}/",
                  "name": "{{ 'collections.general.title' | t }}"
                }
              }
              {% if current_tags %}
                {% for tag in current_tags %}
                  {% unless tag contains 'meta-' %}
                    ,
                    {
                      "@type": "ListItem",
                      "position": {{ forloop.index | plus: 2 }},
                      "item": {
                        "@id": "{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}",
                        "name": "{{ tag }}"
                      }
                    }
                  {% endunless %}
                {% endfor %}
              {% endif %}
            ]
          }
        </script>

        <div class="breadcrumb one-whole column">
          <a href="{{ shop.url }}" title="{{ shop.name | escape }}">
            <span>{{ 'general.breadcrumbs.home' | t }}</span>
          </a>

          <span class="icon-right-arrow"></span>

          <span>{{ 'collections.general.title' | t }}</span>
        </div>
      {% endif %}

      {% for collection in collections %}
        {% if settings.align_height %}
          {% if collection.image %}
            {%- assign collection_image = collection.image -%}
          {% else %}
            {%- assign collection_image = collection.products.first.featured_image -%}
          {% endif %}

          {%- assign collection_height = settings.collection_height | plus: 0 -%}
          {%- assign product_aspect_ratio = collection_image.aspect_ratio | plus: 0 -%}
          {%- assign product_set_width = product_aspect_ratio | times: collection_height -%}

          {% if product.featured_image.width >= product.featured_image.height %}
            {%- assign align_height_value = 'width: 100%; height: auto;' -%}
          {% else %}
            {%- assign align_height_value = 'width: 100%;' -%}
          {% endif %}
        {% endif %}

        {% unless collection.handle == 'frontpage' %}
          {% capture collection_title %}
          {{ collection.title | escape }}
        {% endcapture %}

        <div class="{% render 'column-width', value: collections_per_row %} column {% if settings.mobile_products_per_row == '1' %}medium-down--one-whole{% else %}medium-down--one-half{% endif %} thumbnail price_align--{{ settings.collection_price_position }}">
          <a href="{{ collection.url }}" title="{{ collection_title }}">
            <div class="image__container" style="{% if settings.align_height %} max-width: {{ product_set_width }}px; {% else %} max-width: {%- if collection.image -%}{{- collection.image.width -}}{%- else -%}{{- collection.products.first.featured_image.width -}}{%- endif -%}px; {% endif %}">
              {% if collection.image %}
                {%- assign collection_image = collection.image.src -%}
              {% else %}
                {%- assign collection_image = collection.products.first.featured_media.preview_image -%}
              {% endif %}

              {% render 'image-element',
                      image: collection_image,
                      alt: collection.title
              %}
            </div>

            <div class="info">
              <div class="info__text">
                <span class="title">{{ collection.title }}</span>
              </div>

              <span class="price">
                {{ 'layout.counts.items_with_count' | t: count: collection.all_products_count }}
              </span>
            </div>
          </a>
        </div>
      {% endunless %}
    {% endfor %}

    {% render 'pagination', paginate: paginate %}
    </div>
  </section>
{% endpaginate %}

{% schema %}
  {
    "name": "Collections",
    "class": "shopify-section--collection-template",
    "settings": [
      {
        "type": "checkbox",
        "id": "collection_breadcrumb",
        "label": "Show breadcrumb links",
        "default": true
      },
      {
        "type": "range",
        "id": "collections_per_row",
        "label": "Collections per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "pagination_limit",
        "label": "Collections per page",
        "min": 2,
        "max": 50,
        "step": 1,
        "default": 48
      }
    ]
  }
{% endschema %}
