{% include 'include-map' %}

{% schema %}
  {
    "name": "Map",
    "class": "shopify-section--map padding-toggle",
    "settings": [
      {
        "type": "checkbox",
        "id": "wide_display",
        "label": "Wide display",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_padding",
        "label": "Enable padding",
        "default": true
      },
      {
        "type": "text",
        "id": "map_address",
        "label": "Map address",
        "info": "Google Maps will find the exact location"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Displayed if the map isn’t loaded"
      },
      {
        "type": "header",
        "content": "Store hours"
      },
      {
        "type": "checkbox",
        "id": "store_hours",
        "label": "Show store hours",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Come and visit"
      },
      {
        "type": "richtext",
        "id": "address_and_hours",
        "label": "Address and hours",
        "default": "<p>123 Fake Street</p><p>Toronto, Canada</p><p>Mon - Fri, 10am - 9pm</p><p>Saturday, 11am - 9pm</p><p>Sunday, 11am - 5pm</p>"
      },
      {
        "type": "color",
        "id": "info_text_color",
        "label": "Text",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "info_color",
        "label": "Background",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "map_position",
        "label": "Map position",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "range",
        "id": "zoom_level",
        "min": 1,
        "max": 20,
        "step": 1,
        "unit": "x",
        "label": "Map zoom level",
        "default": 12
      },
      {
        "type": "header",
        "content": "API key"
      },
      {
        "type": "text",
        "id": "api_key",
        "label": "Google Maps API key",
        "info": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map"
      },
      {
        "type": "checkbox",
        "id": "show_pin",
        "label": "Show pin",
        "info": "Requires use of API key",
        "default": true
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Map link label",
        "info": "Requires use of API key",
        "default": "Directions"
      },
      {
        "type": "select",
        "id": "map_style",
        "label": "Map color scheme",
        "info": "Requires use of API key",
        "default": "default",
        "options": [
          {
            "value": "aubergine",
            "label": "Aubergine"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "night",
            "label": "Night"
          },
          {
            "value": "retro",
            "label": "Retro"
          },
          {
            "value": "silver",
            "label": "Silver"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Map",
        "category": "Store information"
      }
    ],
    "templates": [
      "index",
      "product",
      "page"
    ]
  }
{% endschema %}
