{% include 'include-newsletter' %}

{% schema %}
  {
    "name": "Newsletter",
    "class": "shopify-section--newsletter",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Sign up today"
      },
      {
        "type": "richtext",
        "id": "newsletter_richtext",
        "label": "Text",
        "default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
      },
      {
        "type": "checkbox",
        "id": "display_first_name",
        "label": "Show first name",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_last_name",
        "label": "Show last name",
        "default": true
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background",
        "default": "#ffffff"
      },
      {
        "type": "checkbox",
        "id": "use_border",
        "label": "Use border",
        "info": "Disables background color",
        "default": false
      },
      {
        "type": "header",
        "content": "Border"
      },
      {
        "type": "select",
        "id": "nav_border",
        "label": "Style",
        "default": "double",
        "options": [
          {
            "value": "dashed",
            "label": "Dashed"
          },
          {
            "value": "dotted",
            "label": "Dotted"
          },
          {
            "value": "double",
            "label": "Double"
          },
          {
            "value": "solid",
            "label": "Solid"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Promotional",
      "settings": {
      }
    }],
    "templates": [
      "index",
      "product",
      "page"
    ]
  }
{% endschema %}
