{% if section.settings.product_breadcrumb == false %}
  {% style %}
    .breadcrumb__wrapper {
      display: none;
    }
  {% endstyle %}
{% endif %}

<section class="section">
  <div class="container">
    {% render 'product-structured-data' %}

    {%
      render 'product',
      product: product,
      variant: product.selected_or_first_available_variant,
      product_images_position: section.settings.product_images_position,
      display_thumbnails: section.settings.display_thumbnails,
      gallery_arrows: section.settings.gallery_arrows,
      slideshow_speed: section.settings.slideshow_speed,
      slideshow_transition: section.settings.slideshow_transition,
      thumbnail_position: section.settings.thumbnail_position,
      enable_thumbnail_slider: section.settings.enable_thumbnail_slider,
      activate_zoom: section.settings.activate_zoom,
      video_looping: section.settings.video_looping,
      set_product_height: section.settings.set_product_height
    %}

    {% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
      <div class="one-whole column">
        <div id="shopify-product-reviews" data-id="{{ product.id }}">
          {{ product.metafields.spr.reviews }}
        </div>
      </div>
    {% endif %}
  </div>
</section>


{% if section.settings.set_product_height %}
  {% style %}
    .product_slider model-viewer {
      min-height: {{ section.settings.product_height }}px;
    }

    .product_slider .product-gallery__main img,
    .product_slider .product-gallery__main .plyr--html5 video,
    .product_slider .product-gallery__main .plyr--youtube {
      max-height: {{ section.settings.product_height }}px;
    }
  {% endstyle %}
{% endif %}

{% style %}
  .shopify-model-viewer-ui model-viewer {
    --progress-bar-height: 2px;
    --progress-bar-color: {{ settings.regular_color }};
  }
{% endstyle %}

{% comment %} Shopify-XR {% endcomment %}
{% if product.media %}
  <script>
    window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
      {% assign models = product.media | where: 'media_type', 'model' | json %}
      ShopifyXR('addModels', {{ models }});
  </script>
{% endif %}

{% schema %}
  {
    "name": "Product",
    "class": "shopify-section--product-template",
    "settings": [
      {
        "type": "checkbox",
        "id": "product_breadcrumb",
        "label": "Show breadcrumb links",
        "default": true
      },
      {
        "type": "header",
        "content": "Product gallery"
      },
      {
        "type": "checkbox",
        "id": "display_thumbnails",
        "label": "Show thumbnails",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "gallery_arrows",
        "label": "Show arrows",
        "info": "Only applies to desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "activate_zoom",
        "label": "Magnify product images on hover",
        "default": false
      },
      {
        "type": "range",
        "id": "slideshow_speed",
        "label": "Gallery speed",
        "min": 0,
        "max": 6,
        "unit": "sec",
        "default": 0,
        "info": "Set to 0 to disable autoplay."
      },
      {
        "type": "select",
        "id": "slideshow_transition",
        "label": "Gallery transition",
        "default": "slide",
        "options": [
          {
            "value": "slide",
            "label": "Slide"
          },
          {
            "value": "fade",
            "label": "Fade"
          }
        ]
      },
      {
        "type": "select",
        "id": "thumbnail_position",
        "label": "Thumbnails",
        "default": "bottom-thumbnails",
        "options": [
          {
            "value": "left-thumbnails",
            "label": "Left"
          },
          {
            "value": "right-thumbnails",
            "label": "Right"
          },
          {
            "value": "bottom-thumbnails",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_thumbnail_slider",
        "label": "Enable thumbnail slider",
        "default": true
      },
      {
        "type": "header",
        "content": "Media",
        "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "type": "radio",
        "id": "product_images_position",
        "label": "Media position",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "set_product_height",
        "label": "Set height of product media",
        "default": false
      },
      {
        "type": "range",
        "id": "product_height",
        "label": "Product media height",
        "min": 200,
        "max": 800,
        "step": 10,
        "default": 500,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "video_looping",
        "label": "Enable video looping",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      },
      {
        "type": "sku",
        "name": "SKU",
        "limit": 1
      },
      {
        "type": "social",
        "name": "Social",
        "limit": 1
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1
      },
      {
        "type": "product_links",
        "name": "Product links",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "display_collections",
            "label": "Show collections",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "display_tags",
            "label": "Show tags",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "display_type",
            "label": "Show type",
            "default": false
          }
        ]
      },
      {
        "type": "size_chart",
        "name": "Size chart",
        "limit": 1,
        "settings": [
          {
            "type": "page",
            "id": "size_chart",
            "label": "Size chart",
            "info": "[Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910707-Using-the-Size-Chart-Sections-themes-)"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Text block</p>"
          }
        ]
      },
      {
        "type": "form",
        "name": "Form",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Customize form features for the product in the products portion of the theme settings."
          }
        ]
      },
      {
        "type": "rating",
        "name": "Product rating",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "To display a rating, add a product rating app. [Learn more](https://apps.shopify.com/product-reviews)"
          }
        ]
      }
    ]
  }
{% endschema %}
<div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>