{% liquid
  assign toggle = section.settings.toggle
  assign filter_block = nil
  assign active_filters = false

  for block in section.blocks
    if block.type == 'filter'
      assign filter_block = block
    endif
  endfor

  assign show_product_count = filter_block.settings.show_filter_product_count

  for filter in collection.filters
    if filter.active_values.size > 0 or filter.min_value.value or filter.max_value.value
      assign active_filters = true
      break
    endif
  endfor
%}

{%- capture clear_url -%}
  {{ routes.search_url }}?q={{ search.terms | url_encode }}
{%- endcapture -%}

{% assign search_pagination = section.settings.pagination_limit %}

{% paginate search.results by search_pagination %}
  <section class="section">
    <div class="container">
      <div class="one-whole column">
        <h1>{{ 'general.search.title' | t }}</h1>
      </div>

      {% if search.performed %}
        {% if section.settings.search_breadcrumb %}
          <div
            class="
              breadcrumb
              one-whole
              column
            "
          >
            <script type="application/ld+json">
              {
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [
                  {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                      "@id": "{{ shop.url }}",
                      "name": "{{ 'general.breadcrumbs.home' | t }}"
                    }
                  },
                  {
                    "@type": "ListItem",
                    "position": 2,
                    "item": {
                      "@id": "{{ routes.search_url }}",
                      "name": "{{ 'general.search.title' | t }}"
                    }
                  }
                ]
              }
            </script>

            <span>
              <a
                class="breadcrumb_link"
                href="{{ shop.url }}"
                title="{{ shop.name | escape }}"
              >
                <span>{{ 'general.breadcrumbs.home' | t }}</span>
              </a>
            </span>

            <span class="icon-right-arrow"></span>

            <span>
              <a class="breadcrumb_link" href="{{ routes.search_url }}">
                <span>{{ 'general.search.title' | t }}</span>
              </a>
            </span>

            {% if paginate.pages != 0 %}
              <span class="icon-right-arrow"></span>
              {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
            {% endif %}
          </div>
        {% endif %}
        {% if filter_block and search.performed and search.filters.size > 0 %}
          <div
            class="
              collection-filters-modal__wrapper
              column
              one-whole
            "
          >
            <button
              class="
                action_button
                action_button--secondary
                collection-filters-modal__link
              "
              aria-label="{{ 'collections.sorting.filter' | t }}"
              data-filter-modal-open
            >
              {{ 'collections.sorting.filter' | t }}
            </button>
          </div>
        {% endif %}
      {% endif %}
    </div>

    {% comment %} Check to see if sidebar should be enabled {% endcomment %}
    {% if section.blocks.size > 0 %}
      {% assign sidebar = true %}
    {% else %}
      {% assign sidebar = false %}
    {% endif %}

    {% if section.blocks.size == 1 and filter_block != nil and search.performed == false %}
      {% assign sidebar = false %}
    {% endif %}

    <div
      class="
        content-wrapper
        content-wrapper--search
        is-flex
        is-flex-wrap
      "
      >
      {% if sidebar %}
        {%
          render 'sidebar',
          context: 'search',
          toggle: toggle,
          filter_group_classes: 'sidebar__block-faceted-search',
          show_product_count: show_product_count,
          class_prefix: 'collection'
        %}
      {% endif %}

      <div class="has-sidebar-option sidebar-enabled--{{ sidebar }}">
        {% if filter_block %}
          <div
            class="
              search-filter-active-tags
              one-whole
              column
              medium-down--one-whole
            "
          >
            {%
              render "faceted-filter-active",
              class_prefix: "search",
              clear_url: clear_url,
              filter_type: search.filters
            %}
          </div>
        {% endif %}

        <div class="container">
          {% if search.performed %}
            {% if settings.search_option == 'everything' or search.results.first.price == blank %}
              {% if search.results == empty %}
                <div class="one-whole column">
                  <p class="quote">
                    {{ 'general.search.no_results_html' | t: terms: search.terms }}
                  </p>
                </div>
              {% else %}
                {% for item in search.results %}
                  {% assign featured_image = false %}

                  {% if item.object_type == 'article' and item.featured_media.preview_image %}
                    {% assign featured_image = true %}

                    <div
                      class="
                        one-fourth
                        column
                        medium-down--one-whole
                      "
                    >
                      <a href="{{ item.url }}" title="{{ item.title | escape }}">
                        {%
                          render 'image-element',
                          image: item.featured_media.preview_image,
                          alt: item.title,
                          object_fit: true
                        %}
                      </a>
                    </div>
                  {% elsif item.featured_media.preview_image %}
                    {% assign featured_image = true %}

                    <div
                      class="
                        one-fourth
                        column
                        medium-down--one-whole
                      "
                    >
                      <a href="{{ item.url }}" title="{{ item.title | escape }}">
                        {%
                          render 'image-element',
                          image: item.featured_media.preview_image,
                          alt: item.title,
                          object_fit: true
                        %}
                      </a>
                    </div>
                  {% endif %}

                  <div
                    class="
                      {% if featured_image %}
                        three-fourths
                        columns
                      {% else %}
                        one-whole
                        column
                      {% endif %}
                      medium-down--one-whole
                    "
                  >
                    <h5 class="sub_title">
                      <a href="{{ item.url }}" title="{{ item.title | escape }}">
                        {{ item.title }}
                      </a>
                    </h5>

                    {% if item.price %}
                      <div class="info">
                        <span class="price">
                          {% if item.compare_at_price_max > item.price %}
                            <span class="was-price">
                              <span class="money">
                                {%
                                  render 'price-element',
                                  price: item.compare_at_price_max
                                %}
                              </span>
                            </span>
                          {% endif %}

                          {% if item.available %}
                            {% if item.price_varies %}
                              {% if item.compare_at_price_max > item.price %}
                                <br />
                              {% endif %}

                              <small>
                                <em>{{ 'products.general.from' | t }}</em>
                              </small>
                            {% endif %}

                            <span class="money">
                              {%
                                render 'price-element',
                                price: item.price_min
                              %}
                            </span>
                          {% else %}
                            <span class="money">
                              {%
                                render 'price-element',
                                price: item.price_min
                              %}
                            </span> - {{ 'products.product.sold_out' | t }}
                          {% endif %}
                        </span>
                      </div>
                    {% endif %}

                    {% if item.object_type == 'article' %}
                      <p class="blog_meta">
                        {% if section.settings.blog_author %}
                          <span>{{ 'blogs.article.by_author' | t: author: item.author }}</span>
                        {% endif %}

                        {% if section.settings.blog_date %}
                          <span>{{ item.published_at | date: format: "month_day_year" }}</span>
                        {% endif %}
                      </p>
                    {% endif %}

                    {% if item.excerpt %}
                      <div class="excerpt">
                        {{ item.excerpt }}
                      </div>

                      {% if section.settings.read_more_link %}
                        <p>
                          <a href="{{ item.url }}" title="{{ item.title | escape }}">
                            {{ 'blogs.general.continue_reading_html' | t }}
                          </a>
                        </p>
                      {% endif %}
                    {% else %}
                      <p>{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms | replace: 'Description', '' | replace: 'Specs', '' | replace: 'Shipping', '' | replace: 'Size', '' }}</p>
                    {% endif %}
                  </div>
                <hr />
              {% endfor %}
            {% endif %}
          {% else %}
            {% assign products = search.results %}
            {% assign products_per_row = section.settings.products_per_row %}

            {%
              render 'product-loop',
              products: products,
              products_per_row: products_per_row,
              sidebar: sidebar
            %}
            </div>
          {% endif %}

          {%
            render 'pagination',
            paginate: paginate
          %}
          {% else %}
            <div
              class="
                one-whole
                column
                is-flex
                is-flex-column
                is-align-center
                search__form
              "
              data-autocomplete-{{ settings.enable_autocomplete }}
            >
              <br/>

              <p class="quote">
                {{ 'general.search.description' | t }}
              </p>

              <form
                class="
                  search
                  container
                  {% if sidebar %}
                    three-fourths
                  {% else %}
                    one-half
                  {% endif %}
                  column
                  medium-down--one-whole
                "
                action="{{ routes.search_url }}"
              >
                <div
                  class="
                    three-fourths
                    columns
                    medium-down--one-whole
                    center
                  "
                >
                  <input
                    type="hidden"
                    name="type"
                    value="{{ settings.search_option }}"
                  />
                  <input
                    type="text"
                    name="q"
                    placeholder="{{ 'general.search.placeholder' | t }}"
                    value="{{ search.terms }}"
                    x-webkit-speech
                    autocapitalize="off"
                    autocomplete="off"
                    autocorrect="off"
                  />
                </div>
                <div
                  class="
                    one-fourth
                    column
                    medium-down--one-whole
                  "
                >
                  <input
                    class="action_button"
                    type="submit"
                    name="submit"
                    value="{{ 'general.search.submit' | t }}"
                    style="margin-top:0"
                  />
                </div>
              </form>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endpaginate %}

{% schema %}
  {
    "name": "Search",
    "class": "shopify-section--search-template",
    "settings": [
        {
        "type": "checkbox",
        "id": "search_breadcrumb",
        "label": "Show breadcrumb",
        "default": true
      },
      {
        "type": "range",
        "id": "products_per_row",
        "label": "Products per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "pagination_limit",
        "label": "Products per page",
        "min": 2,
        "max": 50,
        "step": 1,
        "default": 48
      },
      {
        "type": "header",
        "content": "Blog results"
      },
      {
        "type": "checkbox",
        "id": "blog_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "read_more_link",
        "label": "Show continue reading link for blog post excerpts",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "paragraph",
        "content": "Create a sidebar by adding content blocks."
      },
      {
        "type": "checkbox",
        "id": "toggle",
        "label": "Toggle sidebar content",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "filter",
        "name": "Filters",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_filter_product_count",
            "label": "Show product counts",
            "default": true
          }
        ],
        "limit": 1
      },
      {
        "type": "filter_by_collection",
        "name": "Collection list",
        "limit": 1
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "custom_menu_linklist",
            "label": "Menu"
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "type": "page",
            "id": "content_page",
            "label": "Page"
          }
        ]
      },
      {
        "type": "filter_by_tag",
        "name": "Tag list",
        "limit": 1
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Text area can be used for special announcements or general information.</p>"
          }
        ]
      },
      {
        "type": "filter_by_type",
        "name": "Type list",
        "limit": 1
      },
      {
        "type": "filter_by_vendor",
        "name": "Vendor list",
        "limit": 1
      }
    ]
  }
{% endschema %}
