{% comment %}
** Slideshow - dynamic **
- Draggable section
- Uses blocks
{% endcomment %}

{% comment %} Content settings {% endcomment %}
{%- assign blocks = section.blocks -%}
{% comment %} End content settings {% endcomment %}

{% if blocks.size > 0 %}
  <section id="slideshow-{{ section.id }}" class="section {% if section.settings.wide_display == true %}is-width-wide has-no-side-gutter{% endif %} enable-padding--{{ section.settings.enable_padding }}">
    <div class="container">
      <div class="one-whole column">
        <div class="slideshow slideshow-transition--{{ section.settings.slideshow_animation }}"
             data-slider-id="slideshow-{{ section.id }}"
             data-slideshow-speed="{{ section.settings.slideshow_speed }}"
             data-adaptive-height="{{ section.settings.adaptive_height }}">
          {% for block in blocks %}
            {% comment %} Content settings {% endcomment %}
            {%- assign image = block.settings.image -%}
            {% comment %} End content settings {% endcomment %}

            <div class="slideshow__gallery-cell slideshow__gallery-cell-slide-{{ forloop.index }}" {{ block.shopify_attributes }} data-block-id="{{ block.id }}">
              <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %}>
                {% if image != blank %}
                  {% render 'image-element',
                          image: image,
                          alt: image.alt,
                          stretch_width: true,
                          additional_classes: ''
                  %}
                {% else %}
                  {% capture i %}{% cycle "1", "2" %}{% endcapture %}
                  {{ 'lifestyle-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--slideshow' }}
                {% endif %}
              </a>
              {% if block.settings.title != blank or block.settings.subtext != blank or block.settings.button_label != blank %}
                <div class="slideshow__caption">
                  <div class="container">
                    <div class="{% if block.settings.text_position == 'left' %}one-half offset-by-one{% elsif block.settings.text_position == 'right' %}one-half column offset-by-seven{% else %}five-eighths columns offset-by-three{% endif %} is-hidden-offset-mobile-only medium-down--one-whole text-align--{{ block.settings.text_align }}">
                      <div class="slideshow__caption-content">
                        {% if forloop.first == true and block.settings.title != blank %}
                          <h1 class="slideshow__caption-headline">{{ block.settings.title | escape }}</h1>
                        {% elsif block.settings.title != blank %}
                          <p class="slideshow__caption-headline">{{ block.settings.title | escape }}</p>
                        {% endif %}

                        {% if block.settings.subtext != blank %}
                          <div class="slideshow__caption-subtitle">
                            {{ block.settings.subtext }}
                          </div>
                        {% endif %}

                        {% if block.settings.button_label != blank %}
                          <a href="{{ block.settings.link }}" class="slideshow__caption-button action_button">{{ block.settings.button_label | escape }}</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Slideshow",
    "class": "shopify-section--slideshow padding-toggle",
    "max_blocks": 12,
    "settings": [
      {
        "type": "checkbox",
        "id": "wide_display",
        "label": "Wide display",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_padding",
        "label": "Enable padding",
        "default": true
      },
      {
        "type": "select",
        "id": "slideshow_animation",
        "label": "Transition",
        "default": "fade",
        "options": [
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "slide",
            "label": "Slide"
          }
        ]
      },
      {
        "type": "range",
        "id": "slideshow_speed",
        "label": "Change slides every",
        "min": 0,
        "max": 12,
        "step": 1,
        "default": 6,
        "unit": "sec",
        "info": "Set to 0 to disable autoplay."
      },
      {
        "type": "checkbox",
        "id": "adaptive_height",
        "label": "Enable adaptive height",
        "info": "Slideshow will adjust based on height of individual slides",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "subtext",
            "label": "Subheading"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Slideshow",
      "category": "Image",
      "settings": {
        "slideshow_animation": "fade"
      },
      "blocks": [
        {
          "type": "image",
          "settings": {
            "image": "",
            "title": "The Responsive Shopify Theme",
            "text_position": "center",
            "text_align": "center",
            "button_label": "",
            "link": ""
          }
        },
        {
          "type": "image",
            "settings": {
            "image": "",
            "title": "",
            "text_position": "center",
            "text_align": "center",
            "button_label": "",
            "link": ""
          }
        }
      ]
    }],
    "templates": [
      "index",
      "page"
    ]
  }
{% endschema %}
