{% include 'include-video' %}

{% schema %}
  {
    "name": "Video",
    "class": "shopify-section--video padding-toggle",
    "settings": [
      {
        "type": "header",
        "content": "Video"
      },
      {
        "type": "checkbox",
        "id": "wide_display",
        "label": "Wide display",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_padding",
        "label": "Enable padding",
        "default": true
      },
      {
        "type": "select",
        "id": "aspect_ratio",
        "label": "Aspect ratio",
        "default": "16:9",
        "options": [
          {
            "value": "16:9",
            "label": "16:9"
          },
          {
            "value": "4:3",
            "label": "4:3"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay video",
        "default": false,
        "info": "Limited browser support for autoplaying video. [Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/360000661568-Why-won-t-my-video-autoplay-)"
      },
      {
        "type": "checkbox",
        "id": "autoloop",
        "label": "Autoloop video",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "mute_video",
        "label": "Mute video",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "video_controls",
        "label": "Show video controls",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "video_dark_overlay",
        "label": "Darken video",
        "default": false
      },
      {
        "type": "video_url",
        "id": "video",
        "label": "Video link",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "type": "text",
        "id": "html5_video",
        "label": "HTML5 MP4/OGV File URL"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1600 x 900px recommended"
      },
      {
        "type": "checkbox",
        "id": "display_text_over_video",
        "label": "Show text when video is playing",
        "default": false
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading",
        "default": "<p></p>"
      },
       {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Play Video"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Video",
      "category": "Video",
      "settings": {
        "video": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      }
    }],
    "templates": [
      "index",
      "product",
      "page"
    ]
  }
{% endschema %}
